@{
    ViewBag.Title = "Pencetakan Tiket";
}

<h3>Cetak Tiket Anda</h3>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    
    int IDFirst = ViewBag.firstID;
    int IDLast = IDFirst - 1 + ViewBag.sum;
    for (int i = IDFirst, j = 1; i <= IDLast; i++, j++)
    {
        <h4>
        @Html.ActionLink("Tiket " + j, "Print", "Payment", new { idTiket = i }, new { idTiket = i })
        </h4>
    }

}