@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success Order</title>
</head>
<body>
    <div>
        <h2>Order Success</h2>
    </div>
</body>
</html>
