@{
    ViewBag.Title = "Pembayaran Tiket";
}

<h2>Pembayaran tiket</h2>

@using (Html.BeginForm("Index", "Payment", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Data Pembayar</legend>

        @if (!Request.IsAuthenticated)
        {
            <div class="editor-label">
                <label>E-mail: </label>
            </div>
            <div class="editor-field">
                <input type="text" name="email" />            
            </div>

            <div class="editor-label">
                <label>Nama: </label>
            </div>
            <div class="editor-field">
                <input type="text" name="name" />
            </div>
        }

        <div class="editor-label">
            <label>Nomor kartu kredit: </label>
        </div>
        <div class="editor-field">
            <input type="text" name="ccnumber" />
        </div>
        <br />
        <br />
        @*<input type="submit" value="Purchase" />*@
        <div class="form-group pull-right" style="float:left!important">
            <button class="btn btn-danger btn-lg">Bayar<i class="glyphicon glyphicon-arrow-right"></i></button>
        </div>
    </fieldset>
}