@{
    ViewBag.Title = "Proceed";
}

<h2>Proceed</h2>

@using (Html.BeginForm("Index", "Payment", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Payment Data</legend>

        @if (!Request.IsAuthenticated)
        {
            <div class="editor-label">
                <label>Email: </label>
            </div>
            <div class="editor-field">
                <input type="text" name="email" />            
            </div>

            <div class="editor-label">
                <label>Name: </label>
            </div>
            <div class="editor-field">
                <input type="text" name="name" />
            </div>
        }

        <div class="editor-label">
            <label>Credit Card Number: </label>
        </div>
        <div class="editor-field">
            <input type="text" name="ccnumber" />
        </div>

        <input type="submit" value="Purchase" />
    </fieldset>
}