@import url('css/bootstrap.min.css');

body {
	font-family: Segoe UI;
	border-top: 4px solid #ef4136;
	border-bottom: 4px solid #be1e2d;
	padding-top: 40px;
	padding-bottom: 30px;
}
a {
	color: #be1e2d;
}
input, textarea, select, button {
	font-family: Segoe UI;
}
div.container {
}

h1.page-header {
	font-family: 'Segoe UI Light';
	font-weight: normal;
	margin-top: 60px;
	margin-bottom: 30px;
	color: #be1e2d;
	border-bottom: 0;
}

.reg-intro {
	color: #777;
}
.reg-intro .lead {
	color: #555;
}

.reg-form {
	background: #f6f6f6;
	padding: 20px 20px 0;
	border: 1px solid #eee;
	margin-left: 20px;
}
.reg-form legend {
	margin-bottom: 0;
}
.reg-form .form-actions {
	margin: 0;
	background: transparent;
}

.site-footer {
	padding-top: 60px;
	font-size: 11px;
	color: #999;
}
.site-footer p {
	margin: 0;
}