@import url('css/bootstrap.min.css');

body {
	font-family: Segoe UI;
	border-top: 6px solid #ef4136;
	/*border-bottom: 4px solid #be1e2d;*/
	padding-top: 40px;
	padding-bottom: 30px;
}
a {
	color: #be1e2d;
}
input, textarea, select, button {
	font-family: Segoe UI;
}
div.container {
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI Light', 'Segoe UI';
    font-weight: 300;
}

h1.page-header {
	margin-top: 40px;
	margin-bottom: 30px;
	color: #be1e2d;
	border-bottom: 0;
}

.reg-intro {
	color: #777;
}
.reg-intro .lead {
	color: #555;
}

.reg-form {
	background: #f6f6f6;
	padding: 20px 20px 0;
	border: 1px solid #eee;
	margin-left: 20px;
}
.reg-form label {
    font-weight: normal;
}
.reg-form .form-actions {
	margin: 0;
	background: transparent;
}

.site-footer {
	padding-top: 60px;
	font-size: 11px;
	color: #999;
}
.site-footer p {
	margin: 0;
}

.front-page {
    margin-top: 40px;
}
.front-page-intro {
    background: #be1e2d;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 100px;
}

.front-page-search > h3,
.front-page-search > form {
    margin-left: 20px
}

.front-page-search button {
    padding-right: 60px;
    padding-left: 60px;
}

.front-page-search h3 {
    color: #be1e2d;
}

.site-header {
    position: relative;
    height: 80px;
}
.site-header .member-area {
    font-size: 12px;
    line-height: 1.5;
    float: right;
    margin-top: 10px;
    background: #eee;
    padding: 5px;
    border-radius: 3px;
}
.site-header .member-area .glyphicon {
    margin-right: 0.4em;
}
.site-header .member-area .current-user {
    padding: 5px 15px 5px 10px;
    float: left;
}
.site-header .member-area .current-user-actions {
    float: left;
}

.ticket-details {
    padding-top: 20px;
}
.ticket-details-all {
    margin-top: -62px;
}

.flight {
    cursor: pointer;
}
.flight:hover td {
    background: #f6f6f6;
}

.none {
    color: #999;
    font-style: italic;
}
.flightChoiceHeader {
    margin-bottom: 20px;
}