<!DOCTYPE html>
<html lang="id">
<head>
    <title>Airlangga Airlines: @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/Content/img/favicon.png" rel="shortcut icon">
    <link href="~/Content/css/style.css" rel="stylesheet" media="screen">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="site-header">
            <img src="~/Content/img/masthead.png">
        </div>
        @RenderBody()
        <footer class="site-footer">
            <p>Hak cipta &copy; 2013 Airlangga Airlines.</p>
            <p><a href="#">Kebijakan privasi</a> &nbsp;&nbsp; <a href="#">Ketentuan penggunaan</a></p>
        </footer>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>